@tailwind base;
@tailwind components;
@tailwind utilities;

.lable{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(153 153 153 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231 / var(--tw-bg-opacity));
    padding: 0.5rem 0.75rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(38 38 38 / var(--tw-text-opacity));

}
